recursive-include deps *

include README.rst
include MANIFEST.in
include LICENSE.txt
include setup.py
include tests/tests.py
include tests/sample.json
include lib/*.c
include lib/*.h
include python/*.c
include python/*.h
