name: Benchmark

on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - ".github/workflows/benchmark.yml"
      - "tests/benchmark.py"
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.11"]
        os: [ubuntu-22.04]

    steps:
      - uses: actions/checkout@v4
      - run: git fetch --prune --unshallow

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip
          cache-dependency-path: "setup.py"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade orjson simplejson
          python -m pip install .

      - name: Tests
        shell: bash
        run: |
          python tests/benchmark.py
