name: Lint

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-18.04

    steps:
      - uses: actions/checkout@v2

      - name: pip cache
        uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: lint-pip-${{ hashFiles('**/setup.py') }}
          restore-keys: |
            lint-pip-

      - name: pre-commit cache
        uses: actions/cache@v2
        with:
          path: ~/.cache/pre-commit
          key: lint-pre-commit-v1-${{ hashFiles('**/.pre-commit-config.yaml') }}
          restore-keys: |
            lint-pre-commit-v1-

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Install dependencies
        run: |
          python -m pip install -U pip
          python -m pip install -U pre-commit

      - name: Lint
        run: pre-commit run --all-files
